@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply bg-black h-full m-0;
  color: #e7e9ea;
}

#app {
  @apply h-full;
}

.custom-link-active {
  color: #e7e9ea;
  font-weight: bold;
}