@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[color:var(--background-primary)] text-[color:var(--color-base)] antialiased;
}

.shadow-box {
  box-shadow: var(--box-shadow);
}

.custom-link-active {
  color: currentColor;
  font-weight: bold;
}